<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>vue-boolzapp</title>
</head>
<body>
    <div id="app">

            <header>

                <div class="left_bar">

                    <div class="name_user">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="nome user">
                        <span>Luca Cassano</span>
                    </div>
                    <div class="tools_user">
                        <i class="fa-solid fa-spinner"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>

                </div>
                    <!-- chat opened -->
                <div class="right_bar">
                        <div class="name_user">
                        <img :src="contacts[activelement].avatar" alt="nome user">
                        <div class="chat_opened">
                            {{contacts[activelement].name}}
                        </div>
                        <!-- <div v-for="message in contacts[activelement].messages.length ">
                            {{message.length}}
                        </div>  -->
                        
                    </div>
                    <div class="tools_user">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                    
                </div>
            </header>

            <main>

                <nav>

                <div class="notifications">
                        <div class="bell">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>

                        <div class="chat_opened">
                            <div>Ricevi notifiche di nuovi messaggi</div>
                            <a href="#">attiva notifiche Descktop</a>
                        </div>
                
                </div>

                <div class="search-input">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="  cerca o inizia una nuova chat">

                </div>

                <!-- contacts bar nav -->

                

                        <div class="contacts">
        
                            <div class="contact" v-for ="(NameAndImg, index) in contacts"  @click="changeChat(index)">
                                <img :src="NameAndImg.avatar" alt="">
                                <div>{{NameAndImg.name}}</div>
                            </div>
                            
                        </div>

                

                </nav>

                    <!-- chat -->

                <div id="main_app">

                    <div id="chat_container">

                            <div class="chat" v-for="message in contacts[activelement].messages ">
                                
                                <div :class ="message.status === 'sent'  ? 'sent' : 'recived'">
                                    {{message.message}}
                                    <div class="date">{{message.date}}</div>
                                </div>
                                
                            </div>

                    </div>
                    <div id="write_new_chat">

                        <i class="fa-regular fa-face-smile"></i>
                        <input  v-model="newMessage" @keyup.enter="sendMessage" type="text" placeholder="  Scrivi un messaggio">
                        <i @click="sendMessage" class="fa-solid fa-paper-plane"></i>

                    </div>

                </div>

            


            </main>

    </div>    

    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="vue-boolzapp.js"></script>
</body>
</html>