*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    background-color: rgb(235, 234, 234);
}

.left_bar{
    width: 30%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid gray;
}

.right_bar{
    width: 70%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.name_user, .tools_user{
    min-width: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_user img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 15px;
}


.name_user span{
    padding-left: 10px;
}

.chat_opened{
    padding-left: 10px ;
}

.chat_opened a{
    color:   rgb(205, 205, 205);
}

.tools_user i, .search-input i, #write_new_chat i{
    padding-right: 15px;
    color: darkgrey;
    font-size: 25px;
}

.tools_user i:hover,.search-input i:hover, #write_new_chat i:hover {
    color: rgb(138, 138, 138);
}

main{
    display: flex;
}

nav{
    width: 30%;
    height: calc(100vh - 80px);
    
}

.notifications{
    width: 100%;
    height: 70px;
    background-color: rgb(59, 169, 206);
    display: flex;
    padding: 15px;
}

.bell i{
    padding: 10px 8px;
    background-color: #fff;
    border-radius: 100%;
    color:rgb(59, 169, 206);
    background-color:   rgb(235, 234, 234);
}

.search-input{
    display: flex;
    background-color:  rgb(235, 234, 234);
    align-items: center;
    padding: 15px;
}

.search-input input{
    width: 300px;
    height: 30px;
    margin-left: 10px;
    border-radius: 10px;
    border-color: rgba(48, 186, 228, 0.5);
}

.contacts{
    width: 100%;
    height: calc(100% - 130px);
    overflow-y: scroll;
    background-color:  rgb(235, 234, 234);
    
}

.contact{
    display: flex;
    align-items: center;
    padding: 15px;
}

.contact:hover{
    background-color: lightgray;
}

.contact img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 10px;
}

#main_app{
    width: 70%;
    height: calc(100vh - 80px);
}

#chat{
    width: 100%;
    height: calc(100vh - 160px);
    background-color: aqua;
    overflow-y: scroll;
    font-size: 24px;
    background-image:url("https://www.birlawhite.com/storage/blogs/October2022/shutterstock_601690796-min.jpg");
    object-fit: cover;
}

#write_new_chat{
    width: 100%;
    height: 80px;
    background-color: rgb(235, 234, 234);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

#write_new_chat input{
    width: 900px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    border-color: rgba(48, 186, 228, 0.5);
}

